.filterContainer {
  width: 32%;
  max-width: 400px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding-left: 52px;
}

.filterContainer img:hover {
  cursor: pointer;
  opacity: 0.65;
}

@media (max-width: 1000px) {
  .filterContainer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .filterContainer {
    grid-template-columns: 1fr;
    /* justify-items: center; */
  }
}
